<h1>Hellooooooooooooooooooooooooooooo</h1>
<form method="get" action="/answer" data-turbo="false">
  <input type="text" name="questionasked" placeholder="elodie+fab">
  <input type="submit" value="Ask!">
</form>
